/* body {
    background-color: lightseagreen; 
} */

body {
    background-color: lightseagreen;
    background-image: linear-gradient(to right, rgb(27, 145, 139), rgb(41, 232, 232));
    background-size: 100% 100%;
    /* height: 80% */
}

header {

    height: 15vh
}

/* body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('path/to/your-pattern.png') repeat; Replace 'path/to/your-pattern.png' with the path to your pattern image 
    opacity: 0.1; Adjust the opacity to control the pattern visibility 
} */

a {
    text-decoration: none;
    color: inherit
}

a > h1:hover {
    background-color: seagreen;
    transition: background-color 0.4s ease;
}

.game-container {
    display: none;
}

.player-choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: space-around;
    width: 100%;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
}

/* button:not([disabled]) {
    transition: background-color 0.4s ease;
} */

.player-choices > button {
    width: 25%;
    margin: 1%;
    padding: 1%;

}

#computer-choice > button {
    width: 45%;
    margin: 5%;
    padding: 1%;
}

button:not([disabled]):hover {
    background-color: seagreen;
    transition: background-color 0.4s ease;
}

.player-choices-images {
    width: 100%;
    background: transparent;
}

.game-area {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-evenly;
        margin: 0;
    }

.player-area {
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
                    text-align: center;
}

#player-area, #player-1-choices, #player-2-choices {
    width: 60%;
}

#computer-area {
    width: 40%;
}

.scores {
    text-align: center;
}


h1, h2, h3 {
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: max(3vw, 30px);
}

p {
    text-align: center;
    font-size: 125%;
    font-weight: bold;
}

.player-heading {
    width: 100%
}

.play-game-box, .score-area:not(#score-area) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3em;
    height: 80vh;
    button {
        text-align: center;
        font-weight: bold;
        border: 5px solid seagreen;
        padding: 10px;
        margin: 60px;
        font-size: 1.8em;
  }
}

#instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3em;
    button {
        text-align: center;
        font-weight: bold;
        border: 5px solid seagreen;
        padding: 10px;
        margin: 0px;
        font-size: 1.8em;
    }
    p {
        margin: 3px;
    }
}

#instructions-explained {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#instructions-explained > p {
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* #instructions-explained > button {
    text-align: center;
        font-weight: bold;
        border: 8px solid seagreen;
        padding: 10px;
        margin: 10px;
        font-size: 1.6em;
} */


.win-border {
    border: 5px solid lime;
}

.lose-border {
    border: 5px solid red;
}

.draw-border {
    border: 5px solid lightgrey;
}

.chosen-border {
    border: 5px solid white;
}

