/* Global styles */
body {
    background-color: lightseagreen;
    background-image: linear-gradient(to right, rgb(27, 145, 139), rgb(41, 232, 232));
    background-size: 100% 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 15vh
}

a {
    text-decoration: none;
    color: inherit;
    height: fit-content;
}

h1,
h2,
h3 {
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: max(4.2vw, 28px);
    margin: 10px 5px 5px 5px;
}

p {
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* General styling for buttons/anchors */
button {
    background-color: transparent;
    padding: 0;
    border: none;
}

button:not([disabled]):hover {
    background-color: seagreen;
    transition: background-color 0.4s ease;
}

a>h1:hover {
    background-color: seagreen;
    transition: background-color 0.4s ease;
}

/* In-game styling */
.game-container {
    display: none;
}

.game-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    margin: 0;
}

.player-choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: space-around;
    width: 100%;
}

.player-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-align: center;
}

.play-game-box,
.score-area:not(#score-area) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3em;
}

.play-game-box {
    height: 80vh;
}

.play-game-box button,
.score-area:not(#score-area) button {
    text-align: center;
    font-weight: bold;
    border: 5px solid seagreen;
    padding: 10px;
    margin: 2%;
    font-size: 1.8em;
}

.player-heading {
    width: 100%
}

#game-over-text {
    margin: 0px;
}

/* Setting button sizes to fit div */
.player-choices>button {
    width: 25%;
    margin: 1%;
    padding: 1%;
}

#computer-choice>button {
    width: 45%;
    margin: 5%;
    padding: 1%;
}

/* Choice images fully fill button */
.player-choices-images {
    width: 100%;
    background: transparent;
}

/* Setting div widths to best fit space */
#player-area,
#player-1-choices,
#player-2-choices {
    width: 60%;
}

#computer-area {
    width: 40%;
}

/* Scoreboards styling */
.scores {
    text-align: center;
    margin: 0.3em;
}

.score-h2 {
    margin: 0px;
    text-decoration: underline;
}

/* Styling the instructions dropdown */
#instructions {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-size: 1.3em;
}

#instructions button {
    text-align: center;
    font-weight: bold;
    border: 5px solid seagreen;
    padding: 10px;
    margin: 0px;
    font-size: 1.8em;
}

#instructions p {
    margin: 3px;
}

#instructions-explained {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#instructions-explained>p {
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 6px;
    opacity: 0.8;
}

/* 404 page styling */
#error-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}
#error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#error-page-return {
    text-align: center;
    align-self: center;
    display: inline-block;
    width: fit-content;
    padding: 5px 10px;
    font-weight: bold;
    border: 5px solid seagreen;
    margin: 50px;
    font-size: 1.8em;
}

/* Styling classes for chosen icons */
.win-border {
    border: 5px solid lime;
}

.lose-border {
    border: 5px solid red;
}

.draw-border {
    border: 5px solid lightgrey;
}

.chosen-border {
    border: 5px solid white;
}

/* Media queries for mobiles, 767px and under*/
@media screen and (max-width: 767px) {
    /* Changes to gameplay area layout */
    #game-area {
        display: flex;
        flex-direction: column;
    }
    /* Enlarging player areas to better fit screen/new layout */
    .player-area {
        width: 100% !important;
    }

    #player-1-choices {
        width: 98%;
    }

    #player-2-choices {
        width: 98%;
    }

    /* Decreasing font size in buttons */
    #instructions>#instructions-button {
        font-size: 1.2em;
    }

    body>#start-game-box button,
    body>#game-over-box button {
        font-size: 1.2em;
    }

    .play-game-box button,
    .score-area:not(#score-area) button {
        font-size: 1.2em;
    }

    /* Enlarging buttons to better fit new layout */
    #computer-choice>button {
        width: 60%;
    }

    /* Enlarging image in Instructions dropdown */
    #game-diagram {
        width: 90%
    }
    
    /* Shrinking text to better fit smaller space */
    #game-over-text {
        font-size: 90%;
    }

    #instructions-explained {
        width: 90%;
    }

    /* Styling the computers choices in PvC game as grid */
    #computer-heading {
        grid-area: heading;
    }

    #computer-choice {
        grid-area: choice;
    }

    .results-area {
        grid-area: result;
    }

    #score-area {
        grid-area: score;
    }

    /* Setting grid layour order/position */
    #computer-area {
        grid-template-areas:
            'heading result'
            'choice score';
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
    }

    /* Styling the results page in PvP game as grid */
    #player-1-area {
        grid-area: one;
    }

    #player-2-area {
        grid-area: two;
    }

    #score-area-2p {
        grid-area: scoretwo;
    }

    /* Setting grid layour order/position */
    #game-area {
        grid-template-areas:
            'one scoretwo'
            'two scoretwo';
    }
}